black==26.5.1
django-filter==26.1
django-import-export==4.4.1
djangorestframework==3.18.1
djoser==2.3.4
flake8==7.3.0
flake8-docstrings==1.7.0
flake8-isort==7.0.0
gunicorn==26.2.0
isort==9.0.1
pep8-naming==0.15.1
pillow==12.3.0
psycopg2-binary==2.9.13
python-dotenv==1.2.3
